{{ define "main" }}
<div class="post-list">
  {{ range .Paginator.Pages }}
    {{ if and (not .Params.microblog) (ne .Section "") }}
    <article class="post-full">
      <header class="post-header">
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}"><a href="{{ .Permalink }}">{{ .Date.Format "2 January 2006" }}</a></time>
        {{ if .Title }}<h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>{{ end }}
      </header>
      <div class="post-content">
        {{ .Content }}
      </div>
    </article>
    {{ end }}
  {{ end }}
</div>

{{ if or .Paginator.HasPrev .Paginator.HasNext }}
<nav class="pagination">
  {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}">&larr; Older</a>
  {{ end }}
  {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">Newer &rarr;</a>
  {{ end }}
</nav>
{{ end }}
{{ end }}
